* {
    box-sizing: border-box;
}
label {
    cursor: pointer;
}
.wrap {
    width: 1024px;
    margin: 20px auto;
    padding: 0 21px 47px;
}

/*header 시작*/

.header {
    height: 55px;
    text-align: center;
    position: relative;
    padding: 1px 38px 0 0;
}
h1.header-h1 {
    font-size: 0;
    background: url("../img/header/h1.png") no-repeat right center;
    display: inline-block;
    padding-left: 96px;
    line-height: 42px;
}
.h1-explain {
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 4px;
}
span.army-unit-explain {
    font-size: 0;
    background: url("../img/header/header-army-unit.png") no-repeat right center;
    padding: 14px 0 0 173px;
}
h2.total-information {
    font-size: 0;
    background: url("../img/header/total-information.png") no-repeat left center;
    padding: 16px 135px 0 0;
    margin-top: 2px;
    display: inline-block;
}
ul.header-army-list::after {
    display: inline-block;
    content: "";
    clear: both;
}
ul.header-army-list {
    position: absolute;
    top: 13px;
    right: 6px;
}
ul.header-army-list li {
    float: left;
}
ul.header-army-list li a {
    padding: 7px 5px;
}
ul.header-army-list li:first-child a {
    padding: 7px 2.5px 7px 0;
}
ul.header-army-list li:nth-child(2) a {
    padding: 7px 5px 7px 2.5px;
}
ul.header-army-list li:nth-child(4) a {
    padding-right: 4px;
}
ul.header-army-list li:last-child a {
    padding: 7px 0 7px 4px;
}
.nav {
    line-height: 33px;
    background: url("../img/header/navbar.png") repeat-x;
    width: 100%;
    text-align: right;
    padding-right: 23px;
}
input.search-box {
    width: 237px;
    height: 22px;
    border: 2px solid #b3b4b6;
    vertical-align: text-top;
}
label.search-text {
    background: url("../img/header/nav-text.png") no-repeat right center;
    font-size: 0;
    padding: 11px 0 11px 40px;
    vertical-align: bottom;
}

/*main 시작*/

.main {
    border: 1px solid #d1d1d1;
    border-top: none;
    padding: 5px 6px 80px 7px;
}
.aside {
    width: 203px;
    display: inline-block;
}
.aside > div, 
.section > div:not(:nth-child(4)), 
.section > div:nth-child(4) > div,
.column-right > div {
    border: 1px solid #a1c7f2;
}
.aside > div:not(:first-child),
.section > div:not(:first-child),
.column-right > div:not(:first-child) {
    margin-top: 8px;
}
.weather {
    padding: 0 11px 0 10px;
    background: #f5f9fe;
}
.weather-content {
    border-right: 1px solid #cececc;
    border-left: 1px solid #cececc;
}
h2.weather-h2 {
    line-height: 16px;
    background: #5e81c3;
    padding: 1px 0 0 6px;
}
span.weather-arrow {
    background: url("../img/main/aside/weather-arrow.png") no-repeat left bottom;
    padding: 0 5.5px;
}
span.weather-information {
    background: url("../img/main/aside/weather-information.png") no-repeat right;
    font-size: 0;
    padding: 9.5px 34px 8.5px 24px;
}
span.forest-fire {
    background: url("../img/main/aside/danger-mountain-fire.png") no-repeat right;
    font-size: 0;
    padding: 11px 35px 8px 63px;
}
.weather-image {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;
    background: #ffffff;
}
.today-weather {
    border-right: 1px solid #cdcdcd;
    width: 50%;
    display: inline-block;
    padding: 0 20px 2px 14px;
}
h3.today-weather-h3, h3.tomorrow-weather-h3 {
    font-size: 0;
    background: url("../img/main/aside/today-weather.png") no-repeat left center;
    padding: 5px 27px;
}
.today-tempetature, .tomorrow-tempetature {
    margin-top: 5px;
    background: url("../img/main/aside/today-weather-img.png") no-repeat top;
    padding: 33px 0 0 8px;
    font-size: 13px;
    color: #000000;
    letter-spacing: -1.8px;
}
span.tempetature-blue {
    color: #0000ff;
}
span.tempetature-red {
    color: #ff0000;
}
.tomorrow-weather {
    width: 50%;
    padding: 0 18px 0 17px;
    display: inline-block;
    margin-left: -5.7px;
}
h3.tomorrow-weather-h3 {
    background: url("../img/main/aside/tomorrow-weather.png") no-repeat left center;
}
.tomorrow-tempetature {
    background: url("../img/main/aside/tomorrow-weather-img.png") no-repeat top;
    padding-left: 7px;
}
.readiness {
    background: url("../img/main/aside/readiness.png") no-repeat;
    line-height: 31px;
    font-size: 0;
}
.communication {
    padding: 4px 0 9px 5px;
}
span.character {
    background: url("../img/main/aside/character.png") no-repeat top;
    padding: 18px 0 59px 73px;
}
.brigadier-rank-position {
    display: inline-block;
    padding-left: 35px;
    margin-top: 8px;
}
span.communication-text {
    background: url("../img/main/aside/communication-text.png") no-repeat right;
    font-size: 0;
    padding: 13px 69px 13px 127px;
    margin-top: 8px;
    display: inline-block;
}
.communication-btn-position {
    margin-top: 22px;
    font-size: 0;
    line-height: 23px;
    padding-left: 19px;
}
button.communication-btn-left, button.communication-btn-right {
    border: none;
    background: url("../img/main/aside/communication-btn-left.png") no-repeat;
    padding: 11.5px 35.5px;
}
button.communication-btn-right {
    background: url("../img/main/aside/communication-btn-right.png") no-repeat;
    margin-left: 16px;
}
.main-activity {
    padding: 6px 12px 4px 9px;
}
h2.main-activity-h2 {
    background: url("../img/main/aside/main-activity-h2.png") no-repeat left center;
    line-height: 17px;
    font-size: 0;
}
.main-activity-box {
    padding-left: 3px;
    margin-top: 8px;
}
.main-activity-img {
    border: 1px solid #999999;
}
.main-activity-text {
    margin-top: 2px;
    font: 12px "굴림";
    text-align: center;
}
.introduce {
    background: url("../img/main/aside/introduce.png") no-repeat;
    line-height: 34px;
    font-size: 0;
}
.multiplex {
    padding: 6px 0 8px 7px;
}
span.multiplex-marker {
    background: url("../img/main/aside/multiplex-marker.png") no-repeat left center;
    padding-left: 27px;
    vertical-align: middle;
    /* font: 16px bold; 
    font-family: 'HYWULM';*/
}
.multiplex-marker img {
    vertical-align: top;
    margin-left: 17px;
}
.popup-list {
    padding: 7px 9px 38px;
}
h2.popup-list-h2 {
    background: url("../img/main/aside/popup-list-h2.png") no-repeat left center;
    font-size: 0;
    padding: 8px 34.5px;
}
.popup-list img {
    margin-top: 15px;
}

/*section 시작*/

.section, .column-right {
    margin-left: 3px;
    display: inline-block;
    vertical-align: top;
}
.notice {
    padding: 6px 5px 26px 9px;
}
h2.notice-h2 {
    background: url("../img/main/section/notice-h2.png") no-repeat;
    display: inline-block;
    padding: 9px 56.5px;
    font-size: 0;
    vertical-align: top;
}
ul.notice-h2-list {
    display: inline-block;
    margin-left: 156px;
}
ul.notice-h2-list::after {
    display: inline-block;
    content: "";
    clear: both;
}
ul.notice-h2-list li {
    float: left;
    font-size: 0;
    line-height: 21px;
}
ul.notice-h2-list li a {
    padding: 10px 45px 10px 35px;
    background: url("../img/main/section/notice-h2-list-1.png") no-repeat;
}
ul.notice-h2-list li:nth-child(2) {
    margin-left: 4px;
}
ul.notice-h2-list li:nth-child(2) a {
    background: url("../img/main/section/notice-h2-list-2.png") no-repeat;
    padding: 10.5px 48px 10.5px 37px;
}
ul.notice-h2-list li:last-child {
    margin-left: 2px;
}
ul.notice-h2-list li:last-child a {
    background: url("../img/main/section/notice-h2-list-3.png") no-repeat;
    padding: 10.5px 35.5px;
}
ul.notice-h2-list li span.nodtice-h2-list-bar {
    background: url("../img/main/section/notice-h2-list-bar.png") no-repeat right;
    padding: 9.5px 2.5px;
}
ul.notice-list {
    margin-top: 2px;
}
ul.notice-list li {
    line-height: 21px;
}
ul.notice-list li a {
    color: #555555;
    background: url("../img/main/section/notice-list-marker.png") no-repeat left;
    padding-left: 16px;
    font-size: 13px;
    letter-spacing: -1.2px;
}
span.notice-list-text {
    display: inline-block;
    width: 450px;
}
span.notice-list-date {
    font-size: 11px;
    color: #aaaaaa;
    letter-spacing: -0.2px;
}
.real-love {
    padding: 6px 0 6px 9px;
}
.real-love-header {
    padding-left: 1px;
}
h2.real-love-h2 {
    background: url("../img/main/section/real-love-h2.png") no-repeat;
    padding: 9px 43px;
    font-size: 0;
}
img.real-love-img {
    margin-top: 15px;
    vertical-align: baseline;
}
.real-love-text {
    width: 320px;
    display: inline-block;
    font-size: 13px;
    color: #333333;
    margin-left: 5px;
    vertical-align: top;
    padding-top: 17px;
}
span.real-love-brown {
    color: #b58139;
    font-size: 12px;
}
span.real-love-brown-small {
    font-size: 10px;
    letter-spacing: 0.5px;
}
.real-love-text > span.real-love-brown:nth-child(2),
.ucc-text > span.real-love-brown:nth-child(3) {
    margin-left: 6px;
}
p.real-love-p {
    margin-top: 4px;
    line-height: 16px;
    letter-spacing: -0.89px;
}
a.real-love-more {
    font-size: 11px;
    color: #ffa620;
    padding-left: 5px;
}
.section > div:nth-child(4) > div {
    width: 175px;
    display: inline-block;
    vertical-align: top;
}
.section > div:nth-child(4) > div:not(:first-child) {
    margin-left: 3.5px;
}
.ucc {
    padding: 4px 1px 3px 2px;
}
.ucc-header {
    padding-left: 8px;
}
h2.ucc-h2 {
    background: url("../img/main/section/ucc-h2.png") no-repeat;
    font-size: 0;
    padding: 12px 57.5px;
}
img.ucc-img {
    margin-top: 4px;
}
.ucc-text {
    margin-top: 4px;
    padding-left: 4px;
    font-size: 13px;
}
h3.ucc-text-h3 {
    color: #79b1ba;
    letter-spacing: -0.3px;
}
.ucc-text span.real-love-brown {
    padding-left: 1px;
    line-height: 24px;
}
p.ucc-p {
    margin-top: 0;
    color: #7d7d7d;
    letter-spacing: -0.79px;
}
span.ucc-p-dot {
    margin-left: 8px;
    letter-spacing: 1px;
}
a.ucc-more {
    padding-left: 0;
    margin-left: -1px;
}
.photo {
    padding: 7px 0 4px 2px;
}
h2.photo-h2 {
    background: url("../img/main/section/photo-h2.png") no-repeat;
    padding: 8px 64px;
    font-size: 0;
}
img.photo-img {
    margin-top: 10px;
}
.photo-text {
    margin-top: 1px;
    padding-left: 2px;
}
h3.photo-text-h3 {
    letter-spacing: 0;
}
span.photo-p-dot {
    margin-left: 6px;
}
.leader {
    padding: 6px 5px 7px 8px;
}
h2.leader-h2 {
    background: url("../img/main/section/leader-h2.png") no-repeat;
    font-size: 0;
    padding: 8.5px 67.5px;
}
div.leader-p {
    position: relative;
    padding: 90px 80px;
}
.more-position {
    position: absolute;
    bottom: -1px;
    right: 0;
}
.more-position > a.real-love-more {
    margin-left: -6px;
}
.mkiss {
    padding: 7px 9px 4px 10px;
    position: relative;
}
h2.mkiss-h2 {
    font-size: 0;
    background: url("../img/main/section/mkiss-h2.png") no-repeat;
    padding: 7.5px 28.5px;
}
button.mkiss-btn {
    border: none;
    background: url("../img/main/section/mkiss-all-list-btn.png") no-repeat;
    padding: 9px 32px;
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 11px;
}
ul.mkiss-list {
    padding-left: 2px;
    margin-top: 11px;
}
ul.mkiss-list li {
    line-height: 23px;
}
ul.mkiss-list li a {
    font-size: 13px;
    background: url("../img/main/section/mkiss-list-marker.png") no-repeat left center;
    padding-left: 16px;
    color: #1f3174;
    letter-spacing: -0.7px;
}
span.mkiss-list-text {
    display: inline-block;
    width: 430px;
}
span.mkiss-list-date {
    letter-spacing: -0.5px;
    color: #000000;
}
.blank {
    padding-top: 25px;
}

/*right contents 시작*/

.column-right { 
    margin-left: 3px;
    width: 202px;
}
.login {
    padding: 5px 6px 6px 7px;
}
.your-information {
    padding: 0 6px 0 7px;
}
.login-header {
    padding-bottom: 4px;
    border-bottom: 1px solid #e4e4e4;
}
img.your-army-mark {
    vertical-align: top;
}
span.your-id {
    font-size: 0;
    background: url("../img/main/column-right/your-id.png") no-repeat top;
    padding: 7.5px 28px 8.5px;
    vertical-align: super;
    margin-left: 1px;
}
button.logout-btn {
    font-size: 0;
    border: none;
    background: url("../img/main/column-right/logout-btn.png") no-repeat right;
    vertical-align: text-bottom;
    margin-left: 40.2px;
    padding: 9px 23.5px;
}
dl.your-login-information-list {
    margin-top: 3.5px;
    font-size: 13px;
    line-height: 16px;
    color: #54564b;
    letter-spacing: -1.8px;
}
dl.your-login-information-list dt, dl.your-login-information-list dd {
    display: inline-block;
}
dl.your-login-information-list dt {
    background: url("../img/main/column-right/login-dt-marker.png") no-repeat left center;
    padding-left: 7px;
}
.login-img-list {
    margin-top: 4.5px;
}
.img-border {
    width: 114px;
    height: 178px;
    border: 1px solid #282828;
    display: inline-block;
}
img.login-img {
    vertical-align: baseline;
}
ul.information-list {
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
}
ul.information-list li {
    border: 1px solid #b8bce2;
    line-height: 18px;
    height: 22px;
}
ul.information-list li:not(:last-child) {
    margin-bottom: 4px;
}
ul.information-list li a {
    font-size: 12px;
    padding: 3px 8.5px;
    color: #6b7bb3;
}